/* Arrangement Component */


.card-main {
    background: #fff;
    width: 17em;
    height: 20.5em;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    cursor: pointer;

    &:hover {
        background: rgba(235,235,235,1);
    }

    .arr-img {
        object-fit: cover;
        border-radius: 8px 8px 0 0;
        height: 17em;
        width: 100%;
        transition: 0.01s;
    }

    &__footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: -5px;
        height: 3.55em;
        border-radius: 0px 0px 3px 3px;

        img {
            border-radius: 50px;
            height: 2.5em;
            width: 2.5em;
            object-fit: cover;
        }

        &--info {
            flex: 0.3 0 auto;
            width: 7em;


            .card-name {
                font-weight: 500;
                font-size: 0.8em;
                color: #2C2C2C;
            }

            .card-desc {
                font-size: 0.65em;
                font-weight: 500;
                color: #2C2C2C;
                opacity: 0.5;
            }
        }
        &--likes {
            display: flex;
            flex-direction: row;
            align-items: center;

            i {
                font-size: 0.95em;
                color: #2c2c2c;
                opacity: 0.5;
                margin-right: 2px;
            }

            .like-counter {
                font-size: 0.825rem;
                font-weight: 500;
                opacity: 0.5;
                margin-bottom: 1px;
            }

        }
    }
}

.card-main:hover {
    .arr-img {
        filter: brightness(80%);
    }


}

@media (max-width: 990px) {
    #card_main {
        width: 20em;
        height: 23.5em;

        .arr-img {
            object-fit: cover;
            height: 20em;
        }
    }
}


@media (max-width: 680px) {
    #card_main {
        width: auto;
        height: auto;

        .arr-img {
            object-fit: cover;
            height: 20em;
        }
    }
}


@media (max-width: 500px) {
    #card_main {
        width: 99%;
        height: 28.5em;

        .arr-img {
            object-fit: cover;
            height: 25em;
        }
    }
}
