/* HOME */

.profile {
    width: 850px;

    //Elements
    &-picture {
        margin-left: 1.5em;
        height: 6em;
        width: 6em;
        object-fit: cover;
        border-radius: 50%;
        padding: 2px;
        border: 1px solid #dbdbdb;
    }

    .picture-overlay {
        display: flex;
        align-items: center;
        opacity: 0;
        position: absolute;
        background: rgba(0,0,0,0.3);
        transition: 0.2s;

        &__text {
            color: #fff;
            text-decoration: none;
            text-shadow: 0 0 2px white;
            text-align: center;
            font-weight: 500;
            font-size: 0.75em;
        }

        &:hover {
            opacity: 1;
        }
    }

    &-title {
        display: flex;
        flex-direction: column;
        width: 50em;
        height: 100%;
        margin-left: 1.5em;
        text-overflow: ellipsis;
        overflow: hidden;

        &__email {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            width: 100%;
            text-align: left;
            font-size: 1.5em;
            font-weight: 300;
            margin-bottom: 1px;
        }

        &__fullname {
            width: 100%;
            font-size: 0.9em;
            font-weight: 500;
            text-align: left;
            text-transform: capitalize;
            margin-bottom: 2px;
        }

        &__joindate {
            width: 100%;
            margin-bottom: 2px;
            &--text {
                font-weight: 500;
                text-align: left;
                font-size: 0.75em;
                color: #969696;
            }
        }

        &__status {
            width: 100%;

            &--text {
                display: flex;
                align-items: center;
                font-size: 0.85em;
                text-transform: uppercase;

                .material-icons {
                    margin-left: 0.15em;
                    font-size: 1em;
                }
            }
        }
    }

    &-bio {
        position: relative;
        height: 52px;
        width: 100%;
        overflow: auto;
        border-radius: 6px;
        border: 1px solid #dbdbdb;

        &__text {
            line-height: 20px;
            font-size: 0.85em;
            font-weight: 400;
            padding-left: 5px;
            color: rgba(0,0,0,0.5);
            white-space: pre-wrap;
        }

        &__edit {
            bottom: 1px;
            right: 5px;
            position: absolute;
            cursor: pointer;

            .material-icons {
                font-size: 1.1em;
                color: #65676b;
            }
        }
    }

    &-edit {
        margin-bottom: -5px;
        margin-top: 10px;
        width: 100%;

        &__btn {
            background: none;
            height: 3em;
            width: 100%;
            min-width: 10em;
            border-radius: 6px;
            cursor: pointer;
            border: none;
            transition: 0.15s;

            &--text {
                width: 9em;
                display: flex;
                align-items: center;
                font-weight: 500;
                font-size: 1.1em;

                .material-icons{
                    font-size: 1.5em;
                }
            }

            &:hover {
                background: rgba(0,0,0,0.05);
            }

            &:active {
                background: rgba(0,0,0,0.1);
            }
        }
    }

    &-tab {
        border-radius: 6px;
        height: 3.25em;
        width: 100%;
        flex-direction: row;
        display: flex;
        align-items: center;
        text-decoration: none;
        cursor: pointer;

        .text-wrapper {
            display: flex;
            align-items: center;
            flex-direction: row;
        }

        .material-icons {
            font-size: 1.25em;
            color: #65676b;
        }

        &__text {
            margin-left: 5px;
            font-weight: 500;
            color: #65676b;
        }

        &:hover {
            background: rgba(0,0,0,0.05);
        }

        &:active {
            background: rgba(0,0,0,0.1);
        }
    }
}


//Wrapping
.profile-main {
    margin-top: -6.5em;
    padding-top: 6.5em;
    padding-bottom: 1em;
    width: 100%;
    background: #fff;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    height: 100%;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 6em;

        &--info {
            display: flex;
            flex-direction: row;
            border-right: 1px solid #dbdbdb;
            position: relative;
            width: 55%;
        }

        &--more {
            display: flex;
            flex-direction: column;
            width: 40%;
            height: 100%;
        }
    }
}

.profile-about {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 2em;
    width: 100%;
    height: 15em;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    border-radius: 8px;
    background: #fff;

    &__tabs {
        height: 100%;
        width: 30%;
        border-right: 1px solid #dbdbdb;
        padding: 0.5em;

        &--el {
            display: flex;
            align-items: center;
            cursor: pointer;
            height: 2.5em;
            list-style-type: none;
            border-radius: 6px;
            margin: 5px;
            background: none;
            transition: 0.15s;

            &--text {
                width: 100%;
                font-weight: 500;
                color: #65676b;
                margin-left: 0.5em;
            }

            &:hover {
                background: rgba(0,0,0,0.05);
            }

            &:active {
                background: rgba(0,0,0,0.1);
            }
        }
    }

    &__display {
        padding: 1em 3em 3em 3em;
        width: 70%;

        &--el {
            margin-bottom: 1em;
            display: flex;
            width: 100%;
            list-style-type: none;

            .material-icons {
                color: rgba(0,0,0,0.6);
                font-size: 1.5em;
                margin-left: 0;
            }

            &--text {
                width: 100%;
                color: #2c2c2c;
                margin-left: 2em;
            }
        }
    }

    .about-active {
        background: rgba(94, 44, 145, 0.1);
        p {
            color: #5e2c91;
        }
    }
}

.tab-active {
    margin-top: 3px;
    border-bottom: 3px solid #5e2c91;

    p, .material-icons {
        color: rgba(94, 44, 145, 1);
    }
}

.profile-line {
    border-bottom: 1px solid #dbdbdb;
    width: 100%;
    height: 4em;

    &__list {
        width: 70%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;
        list-style-type: none;

        &--el {
            width: 8em;
            display: flex;
            align-items: center;
            height: 100%;
        }
    }
}

.profile-display {
    margin-top: 1em;
}

.home-loader {
    width: 50%;
    height: 6em;
}

//notamember
.shorten {
    height: 8em !important;
}

@media (max-width: 850px) {
    .profile {
        width: 99%;

        &-main {
            width: 99%;
        }
    }
}

@media (max-width: 550px) {
    .profile-main__header {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;

        &--info {
            display: flex;
            width: 100%;
            padding-bottom: 1em;
            flex-direction: row;
            border-right: none;
            border-bottom: 1px solid #dbdbdb;
            position: relative;
        }

        &--more {
            padding: 1em 1em 0 1em;
            display: flex;
            width: 100%;
            flex-direction: column;
        }
    }

    .profile-edit {
        margin-top: 1em;
    }

    .profile-main {
        padding-bottom: 1em;
    }

    .profile-about {
        width: 99%;

        &__tabs {
            width: 40%;
        }

        &__display {
            padding: 1em;
            width: 60%;
        }
    }

    .profile-line {
        &__list {
            width: 100%;
        }
    }

    .profile-tab {
        &__text {
            display: none;
        }

        .material-icons {
            font-size: 1.5em;
        }
    }
}
