@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Roboto", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

html {
    height: 100%;
}

body {
    height: 100%;
    overflow-y: scroll;
    background: #F8F9FC;
    transition: .5s;
}

#root {
    height: 100%;
    flex-grow: 1;
}

.app-btn {
    background: rgba(0,0,0,0.1);
    border: none;
    color: #2c2c2c;
    font-weight: 500;
    font-size: 0.85em;
    height: 2.5em;
    width: 8em;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.1s;
}

.btn-inactive {
    font-weight: 500;
    font-size: 0.85em;
    height: 2.5em;
    width: 8em;
    border-radius: 6px;
    cursor: default;
    transition: 0.1s;
    background: none;
    border: 1px solid #dbdbdb;
    color: rgba(0,0,0,0.3);
}

.app-btn:hover {
    background: rgba(94, 44, 145, 0.2);
    color: #5e2c91;
}

.app-btn:active {
    background: #5e2c91;
    color: #fff;
}

.btn-filled {
}

